.card-cert {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  height: 300px;
  width: 300px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(62, 91, 172, 0.3);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.card-cert img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

.grid-cert {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
