#home {
  padding-top: 300px;
}

#home .home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0px 50px;
}

.home-title h1 {
  font-size: 70px;
  font-family: "Montserrat";
  line-height: 1;
  padding-bottom: 10px;
}

.home-title h1 span {
  background: linear-gradient(90deg, #090a0f 0%, #1b2735 100%);
  filter: drop-shadow(4px 3px 4px #1e3a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-title h2 {
  padding-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 400;
}

.home-title p {
  color: #9b9b9b9b;
  font-family: "Open Sans";
  font-size: 14px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.home-lenguage {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.home-lenguage span {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.home-button {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.home-button a {
  background: #000000;
  padding: 10px 40px;
  border-radius: 5px;
  font-family: "Open Sans";
  color: #ffffff;
  display: flex;
  gap: 10px;
  box-shadow: 0px 0px 10px 1px #243b55;
  align-items: center;
  transition: transform 0.5s, box-shadow 0.5s;
}

.home-button a:hover {
  box-shadow: 0px 0px 20px 1px #243b55;
  transform: scale(1.1);
}

.home-link {
  display: flex;
  gap: 20px;
}

.home-link a img {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px #243b55;
  transition: transform 0.3s, box-shadow 0.3s;
}

.home-link a img:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #243b55;
  transform: scale(1.1);
}
