.portfolio-section {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  padding-top: 150px;
}

.portfolio-title {
  font-size: 40px;
  font-family: "Montserrat";
  line-height: 1;
  padding-bottom: 10px;
  color: #3e5bac;
  margin-bottom: 50px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 142px;
}

.tab {
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 116px;
  width: 340px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.tab img {
  width: 28px;
  height: 28px;
  opacity: 0.9;
}

.tab.active {
  background: linear-gradient(180deg, #243b55, #3e5bac);
  color: #111;
  border-radius: 10px;
  color: #ffffff;
}

.tab-content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.grid {
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
}

.card-port {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  height: 350px;
  width: 250px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(62, 91, 172, 0.3);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-port h3 {
  text-align: left;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
}

.card-port p {
  font-size: 12px;
  color: #9b9b9b;
  font-family: "Open Sans";
  text-align: left;
}

.card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-df {
  background: radial-gradient(circle at center, #728cd5 23%, #3e5bac 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-link a {
  font-family: "Montserrat";
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.card-link a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../img/flecha.svg") no-repeat center;
  background-size: contain;
  margin-left: 8px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.card-link a:hover::after {
  transform: translateX(8px) scale(1.1);
}

.card-link a.link-df::after {
  background: url("../../img/Arrow-up.svg") no-repeat center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.card-link a.link-df:hover::after {
  transform: translate(5px, -5px) scale(1.1);
}
